<div class="wrapper skill-icon-area-container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
            <p>Change your profile here</p>  
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon change" src="/assets/change-1.png">
            		<h2><bold>Changes</bold></h2>   
            </div>
       </div>
    </div>
</div>
<%= render "shared/new_talent_form.html.erb" %>

<script type="text/javascript">

   $(document).ready(function(){
       var talent = "<%= raw @talent.name %>";
       var description = "<%= raw @talent.description %>";
       $('#name').val(talent);
       $('#talent_description').val(description);
   });

</script>