<div class="wrapper skill-icon-area-container flex-styling">
    <div class="row flex-styling expand">
        <div class="col-md-6">
            <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
            <p>Add a talent here</p>  
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon change" src="/assets/change-1.png">
            		<h2><bold>Changes</bold></h2>   
            </div>
       </div>
    </div>
</div>

<%= render "shared/new_talent_form.html.erb" %>
