
<p id="talents-search"></p>


<div class="ui-widget">
  <label for="tags">Pick a city: </label>
  <input id="tags" class="search-field">
   <label for="datas">Pick a talent: </label>
  <select name="datas" id="datas" class="search-field">
  </select>
</div>

<div class="container search-tabs">
<ul id = "myTab" class = "nav nav-tabs">
   <li class = "active">
      <a href = "#all-skills" data-toggle = "tab" id="skill-label">
         All Talents
      </a>
   </li>
   
   <li><a href = "#top-rated-skills" id="top-rated-skills-tab" data-toggle = "tab">Chosen Talent</a></li>
</ul>

<div id = "myTabContent" class = "tab-content">

   <div class = "tab-pane fade in active" id = "all-skills">
      <p>Search in a city to get a list of the talents there.</p>
   </div>
   
   <div class = "tab-pane fade" id = "top-rated-skills">
       <p id="talent-not-picked">Pick a talent to see the talents on the city</p>
   </div> 
</div>
</div>  

<script type="text/javascript">

var Search = function(city,talent){
	this.city = city;
	this.talent = talent;
}
var newSeach = new Search('','');


function createArrayWithTalentsInCity(response){
	$('#datas').empty();
	$('#all-skills').empty();
	var talentsFound = [];
	for(var i = 0; i < response.length; i++){
		if(talentsFound.indexOf(response[i].name) == -1){
			var obj = {};
			obj[i.toString()] = response[i].name;
			talentsFound.push(response[i].name);
		}
	}
	populateSelectOptionsAndTags(talentsFound);
}
	
function processResponse(response,option){
	if(option == 1){
		createArrayWithTalentsInCity(response);
	}
	else {
		populateTopSkillForTag(response);
	}
}

function populateSelectOptionsAndTags(selected){
	$('#datas').append('<option disabled selected> -- select an option -- </option>');
	for (var i=0;i<selected.length;i++){
	   $('<option/>').val(selected[i]).html(selected[i]).appendTo('#datas');
	   $('<p/>').val(selected[i]).html(selected[i]).appendTo('#all-skills');
	}
}

function populateTopSkillForTag(response){
	console.log("top-skills-called")
	$('#top-rated-skill').empty();
	for (var i=0;i<response.length;i++){
		$('<p/>').val(response[i]).html(response[i]).appendTo('#top-rated-skill');
	}
}

function ajaxCall(url,option){
	$.ajax({url: url,
  	success: 
  	function (data) {
        processResponse(data, option)}
	});
}

$(document).ready(function(){
	var cities = <%= raw @cities %>;
	var talents = <%= raw @talents %>;
	$('#tags').autocomplete({
      source: cities,
	  select: function(event, ui) {
        	if (ui.item) {
        		newSeach.city = '';
        		newSeach.city = ui.item.value;
	        	$('#tags').val(newSeach.city);
	        	$('#skill-label').empty();
	        	$('#skill-label').append('All talents in '+ (newSeach.city));
	        	var url = "http://localhost:3000/api/v1/"+newSeach.city+"/talents";
	        	ajaxCall(url,1);
    		}
   		}
    });
})

$(document).ready(function(){
	var talent = $(this).val();
	$('select').on('change', function () {
	   var valueSelected = this.value;
	   var url = "http://localhost:3000/api/v1/"+newSeach.city+"/talents/"+talent;
		ajaxCall(url,2);
	});
})

$(document).ready(function(){
	$('#top-rated-skills-tab').click(function(){
	if ( $('#talent-not-picked').length  ){
		setTimeout(function(){
    		$('.search-field').animate({backgroundColor: 'green'}).animate({backgroundColor: 'transparent'},'slow')
    	},1000)
    
	}
	})
})

</script>