<body class="dashboard-body">
<div class="wrapper skill-icon-area-container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="name">Welcome, <%= @user.name.capitalize %></h2>
            <p>You have <strong><%= @user.minutes %> minutes</strong></p>
        </div>
        <div class="col-md-6">
            <div class="skills-logo-area">
                <img class="skills-icon" src="/assets/skills-icon2.jpg">
                <h2><bold>My Talents</bold></h2>
            </div>
       </div>
    </div>
</div>

<div class="wrapper dashboard-wrapper">
<div class="container dashboard-notifiactions-container">
    <h1>Dashboard 
        <% if @user.address.nil? %>
        <img src="/assets/info-4.png" id="security-signup-icon">
        <% end %>
        <img src="/assets/thumb.png" id="security-signup-thumb"> 
     </h1>
     <% unless @user.address.empty? %>
         <p class="security-address-p">
             You need to add your address to start searching for other altruists! Click here:
             <%= link_to "Add Address", users_address_path %>
         </p>
     <% end %>

       
    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="dashboard-notifications-label">RECEIVED</h1>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">Hola</h2>
                        <p id="dashboard-notifications-ul">hola</p>
                    </div> 
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">Hola</h2>
                        <p id="dashboard-notifications-ul">hola</p>
                    </div>      
                </div>
                <div class="col-md-6">
                    <h1 class="dashboard-notifications-label">SENT</h1>
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">Hola</h2>
                        <p id="dashboard-notifications-ul">hola</p>
                        <p id="dashboard-notifications-ul">hola</p>
                        <p id="dashboard-notifications-ul">hola</p>
                    </div>  
                    <div class="dashboard-notifications-box">
                        <h2 class="dashboard-notifications-header">Hola</h2>
                        <p id="dashboard-notifications-ul">hola</p>
                    </div>     
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h1 class="dashboard-notifications-label">To Rat Users Near You / most active</h1>
            <div class="dashboard-notifications-box">   
                <div class="calendar">
                    <div id="chart-1"></div>
                        <%= pie_chart User.group(:name).count, class:"chart" %>
                    </div>
                </div>
             </div> 
        </div>
    </div>
    
</div>
</div>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

</body>