/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */


/********************** Dashboard *********************/

* { box-sizing: border-box; }

body {
    padding-top: 70px;
    background: transparent;
    font-family: 'Poiret One';
    font-size: 18px;
}

html {
   background: url(/assets/grey-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width:768px) {
    html {
        background: white;
    }
}

.devise-ul {
    list-style-type: none;
}

/*.dashboard-wrapper{
    background: url(/assets/grey-background.jpg);
/*    height: 700px;
}*/
/*
.not-signed-in {
    background: none;
}*/

.carousel-inner > .item {
    -webkit-transition: 1.4s ease-in-out left;
    -moz-transition: 1.4s ease-in-out left;
    -o-transition: 1.4s ease-in-out left;
    transition: 1.4s ease-in-out left;
}

.dashboard-notifiactions-container > h1{
    text-align: center;
    font-weight: lighter;
    font-size: 2em;
}
.chart-container {
    background: red
}
.chart-h2 {
    text-align: center;
    margin: 10px;
}
.chart {
    height: 150px;
}
hr {
    border-top: 1px solid #583E3E;
}

.dashboard-notifications-box {
    text-align: center;
    background: rgba(14, 140, 116, 0.8);
}

.dashboard-my-talents-link{
    color: white;
}
.dashboard-my-talents-link:hover{
    text-decoration: none;
}

.calendar{
    background: #3CA18D;
    width: 100%;
    opacity: 0.9;
}

.fc-view-container {
    background: #3CA18D;
    opacity: 0.9;
}
.dashboard-notifications-box > h2, .dashboard-notifications-label {
    font-weight: lighter;
    margin: 0;
    color: white;
}
.dashboard-notifications-label {
    text-align: center;
    background: rgba(14, 140, 116, 1);
    border-bottom: 1px solid black;
}

.dashboard-notifications-box > p {
    display: none;
    background: white;
    font-weight: lighter;
    margin: 0;
    border-bottom: 1px solid black;
}

.chart-1{
    color: transparent !important;
    border: 2px solid black;
}


/******************* Home page - not signed in ***************/

/*.navbar-custom > li{
    line-height: 45px;
}

.navbar-ul {
    display: flex;
}

.logo-nav {
    margin-left: auto;
    right: 2%;
    width: 15%;
}

.logo-nav > h1 {
    width: 45%;
}*/

.error-messages {
    width: 50%;
    top:0;
    position: absolute;
    background: #647377;
    color: white;
}

.carousel-inner .item{
    min-height: 650px;
    max-height: 650px;
}

.navbar-custom{
    color: #FFFFFF;
    background-color: #DDE2E2;
    border-radius: 0;
    margin-bottom: auto;
}

.sensitive-change {
    font-weight: bold;
}

.label {
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    height: 22%;
    margin-bottom: -1.5%;
    background-color: rgba(0,0,0,0.75);
    padding: 1%;
    font-size: 0.8em;
}

.sign-up-button {
    width: 15%;
    margin-top: -1% !important;
    height: 35%;
    font-size: 2em;
}

.join-page {
    margin: 0 auto;
    margin-top: 5%;
    width: 100%;

}

.join-page h1{
    text-align: center;
}

.join-field {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1%;
}

.join-field label, input {
    text-align: left;
    width: 50%;
}

.sign-up-submitt-button{
    text-align: center;
}
#security-signup-thumb {
    display: none;
}

.security-signup-p, .security-address-p {
    display: none;
    color: red;
}
.security-address-p {
    text-align: center;
}

/******* Carousel *******/

.carousel-info {
    height: 200px;
}

.carousel-h1 {
    margin-top: -5px;
    margin-bottom: 5px;
    color:#B3BABD;
}

.carousel p  {
    color:silver;
    font-size: 1.5em;
    white-space: normal;
}

/**************************/

.car-div {
    height: 110px;
    margin-top: -15%;
    background-color: rgba(0,0,0,0.75);
}

.btn-large {
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar .nav > li > a, h1{
    line-height: 40px;
}

.logo-img-div {
    margin-right: 10px;
    background-image: url("/assets/sharing.jpg");
    background-size: cover;
    margin-top: 1px;
    height: 70px;
    width: 115px;
    border-radius: 15px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-h1 {
    float: right;
    color:#4E4A4A;
    font-weight: lighter;
    margin-right: 20px;
}

.instructions-container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 70%;
}

.inner-instructions {
    padding-bottom: 40px;
    font-size: 1.5em;
}

.inner-info > h2 {
    font-size: 2em;

}

.inner-info > p {
    /*color: #2A8EA5;*/
    color: darkblue;
}

.jumbotron-container {
    width: 100%;
}

.join-jumbotron {
    background: url("/assets/background.jpg");
    color: #FFF;
    padding: 10px;
    text-align: center;
}

.join-btn{
    width: 150px;
    font-size: 1.2em
}


@media screen and (max-width:768px) {
    body {
        padding-top: 50px;

    }
    .navbar-header {
        visibility: visible;
    }
    .navbar-nav, .navbar-nav ul {
        margin: 0;
    }
    .navbar-nav li {
        border-bottom: 1px solid grey;
        text-align: center;
    }
    .navbar-nav li:nth-child(4) {
        border: none;
    }
    .navbar-nav a {
        padding: 0 !important;
        display: inline;
    }
    .navbar-h1 {
        margin: 5px;
        margin-left: 30px;
    }
    .dropdown-btn {
        margin-right: 30px;
    }
}


@media screen and (max-width: 992px) {
    .instructions-container {
        text-align: center;
    }

    .inner-instructions {
        width: 100%;
    }

    .inner-info > h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .inner-info > p {
        font-size: 25px;
        margin-bottom: 50px;
    }
}

/********************** ADDRESS PAGE *********************/

.address {
    background: white;
}
.address-container > hr {
    width: 50%;
}

.user-address {
    width: 50%;
    border: 1px solid black;
    text-align: center;

}
.search-address{
    padding: 3px;
}

.save-address{
    padding: 5px;
    width: 5%;
}

/*********************** EDIT PAGES ************************/

.important-change > a{
    color: red;
}
.change{
    border-radius: 0 !important;
}

#thumb {
    display: none;
}

/*********************** INDEX PAGES ************************/

/**** Index - Talents ****/

.index-talents-wrapper {
    background: url(/assets/skills-icon2.jpg);
    height: 700px;
}
.empty {
   text-align: center;
}

.empty a {
    text-decoration: none;
}






/*************************** SEARCH PAGE **********************/


.ui-autocomplete {
    width: 50%;
    color: white;
    background: green;
    border-radius: 0px;
}

.city-search-icon {
    width: 5%;
}

/*********************** SIGN IN / SIGN UP *********************/

/* Overrides device custom styles for views */

.devise-body {
    padding: 0;
}

.panel-default {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.panel-body {
    width: 40%;
    margin: 0 auto;
    background: blanchedalmond;
    opacity: 0.9;
    border-radius: 2px;
}

.panel-body:hover {
    opacity: 1;
}

.checkbox {
    display: inline-block;
    width: 100% !important;
}

.remember-me-check, .devise-label {
    position: relative !important;
    margin: 0 !important;
    width: auto;
}
.devise-label > label {
    padding: 0;
}
.devise-btn {
    margin-top: 20px !important;
    width: 160px;
    padding: 8px;
    font-size: 20px;
    display: block;
}

@media screen and (max-width: 768px) {
    .devise-html {
      height: 100%;
      width: 100%;
      background: url(/assets/grey-background.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .panel-body, .panel-default {
        width: 100%;
    }
    .checkbox {
        display: inline-block;
        width: 80% !important;
        margin: 0 auto;
    }
    .panel-body a {
        display: block;
    }
}











/************************** START TRANSACTION  *****************/
/*
.transaction-button {
    width: 30%;
}
*/

.transaction-buttons {
    display: inline-block;
}


.safety-message {
    color: red;
}

.cancel-button {
    background: red;
    border-color: red;
}
.cancel-button:hover {
    background: orange;
    border: red;
}
.accept-button, .cancel-button {
    width: 150px;
    margin-bottom: 2px;
}


/************************ REST ******************************/

.user-pic {
    margin-top: 10px;
    width: 100px;
    display: inline-block;
    border-radius: 50px
}

.search-area {
    margin-top: 0;
    width: 100%;
    background: url("/assets/bike-background.jpg");
    text-align: center;
    margin-top: 20px;

}

.form-inline > .form-group {
    vertical-align: top;
}

.search-input {
    width: 200px;
}
#map {
    border-radius: 35px;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.search-labels {
    width: 700px;
    background-color: transparent;
    font-style: oblique;
    color: #757582;
    color:black;
    opacity: 0.9;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0;
}

.search-labels h1,h2{
    font-weight: lighter;
}

.search-area {
    margin-top: 0;
}

.settings-container {
    width: 80%;
    margin-top: 4%;
}

.settings-container input {
    width: 100%;
}
.settings-buttons {
    width: 30% !important;
}

.show-user-container {
    width: 100%;
    text-align: center;
    opacity: 0.9;
    margin-bottom: 3%;

}

.header-row, .drop-show-p {
    font-weight: 200;
}

.toggle {
    cursor: pointer;
}

.show-user-row{
    width: 100%;
    margin: 0 auto;
    float: left;
    font-weight: 200;
}
.calendar{
    float: right;
    height: 200px !important;
}

.show-user-row {
    background-color: lightgrey;

}
.show-user-header{
    background-color: #988B8B;
    margin-top: 0;
    padding: 2%;
}

.has-content {
    background: green;
    color: white;
    padding: 2%;
    margin: 0
}

.valid-rating {
    background: green;
}

.invalid-rating {
    background: red
}


.skills-icon{
    width: 100px;
    border-radius: 50%;
}

.skills-icon-area {
    width: 20%;
    border: 1px solid black;
    text-align: center;
}
.skill-icon-area-container {
    height: 80%;
    background: url(/assets/teamwork.jpg);
    text-align: center;
    margin: 0;
    background: rgba(14, 140, 116, 0.8);
    margin: 0;
    padding: 2%;
    font-size: 1.2em;
    color:white;
}
/*@media (max-width: 600px) {
  .skill-icon-area-container {
    height: 300px;
}*/

.skills-logo-area p > a {
    color: black;
    font-size: 1.5em;
}
.skills-logo-area  > h2 {
    margin-top: 1%;
}
.skills-logo-area  > img {
    margin-top: -1%;
}

.dashboard {
    text-align: center;
    margin: 2%;
    font-weight: lighter;
    font-size: 4em;
}

.name {
    font-size: 3em;
}

.awaiting-to-rate {
    margin-bottom: 3%;
}

.calendar-icon {
    width: 40%;
}

.blank {
    background: none;
}

.bike {
    background: url(/assets/bike-background.jpg);
}
.search-header {
    text-align: center;
    margin-top: 115px

}

.cities-wrapper,.skills-wrapper > h2 {
    text-align: center;

}
.cities-wrapper,.skills-wrapper {
    text-align: center;
}

.input-search-page {
    height: 35px;
    width: 35%;
    margin-bottom: 2%;
    margin-top: -1%;
}

.input-search-page-button {
    text-align: center;
}

.body-search {
    background: url(/assets/bike-background.jpg);
}

.search-div-right  {
    font-size: 1.4em;
    background-color: lightsalmon;
    opacity: 0.9;
    color: white;
    padding-left: 0;
    padding-right: 0;
}
.skills-wrapper{
    background-color: darkturquoise;
    padding-top: 1px;
}

.search-div-header {
    display: table-cell;
    height: 338px;
}

.center-search-div {
    padding-left: -15px;
    background:aquamarine;
    height: 648px;
    opacity: 0.9;
}
.search-div-search {
    height: 330px;
    text-align: center;
}

.search-div-search  p {
    font-size: 1.4em;
}

.right-search-area {
    height: 648px;

    opacity: 0.8;
}

.center-search-div hr {
    margin-top: -18px;
    margin-bottom: 32px;
    border: 0;
    border-top: 1px solid #4A3D3D;
}

.search-table {
    margin-left: -16px;
    width: 476px;
    font-size: 1.2em;
    color:black;
}

.rating {
    background: grey;
}

.nothing-found {
    color: red;
}

.map-div {
    text-align: right;
}



.skills-logo {
animation: loading 5s linear infinite;
}
@keyframes loading{
 100% {transform:rotate(360deg);}
}
.login-label {
    width: 60%;
}
.login-button {
    width: 120%;
}

.remember-checkbox{
    width: 60%;
    text-align: left;
    margin-left: 0px;
}
.checkbox {
    width: 20px;
}

